/* ===== Professional Header ===== */

.header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:18px 8%;
    background:rgba(5,15,40,.90);
    backdrop-filter:blur(10px);
    display:flex;
    justify-content: flex-start;
gap: 80px;
    align-items:center;
    z-index:1000;
    border-bottom:1px solid rgba(0,170,255,.25);
}

.logo h2{
    color:#00c3ff;
    font-size:28px;
    margin-bottom:4px;
}

.logo p{
    color:#d8e9ff;
    font-size:14px;
}
nav{
    margin-left:auto;
}
nav ul{
    display:flex;
    list-style:none;
    gap:25px;
}

nav ul li a{
    color:#fff;
    text-decoration:none;
    font-size:17px;
    font-weight:600;
    transition:.3s;
}

nav ul li a:hover{
    color:#00c3ff;
}

/* ===== Hero Section ===== */

.hero{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:0 20px;
    background:linear-gradient(rgba(3,15,45,.85),rgba(2,10,30,.90)),
    url("https://images.unsplash.com/photo-1518770660439-4636190af475?auto=format&fit=crop&w=1600&q=80");
    background-size:cover;
    background-position:center;
}

.hero-content h1{
    font-size:55px;
    color:#ffffff;
    margin-bottom:20px;
}

.hero-content p{
    font-size:22px;
    color:#dcefff;
    margin-bottom:35px;
}

.btn{
    display:inline-block;
    padding:14px 34px;
    background:#00bfff;
    color:#fff;
    text-decoration:none;
    border-radius:40px;
    margin:10px;
    font-weight:bold;
    transition:.3s;
}

.btn:hover{
    background:#008cff;
    transform:translateY(-5px);
}

.btn2{
    background:transparent;
    border:2px solid #00bfff;
}

.btn2:hover{
    background:#00bfff;
}

/* ===== Mobile ===== */

@media(max-width:768px){

.header{
    flex-direction:column;
    padding:15px;
}

nav ul{
    flex-wrap:wrap;
    justify-content:center;
    gap:15px;
    margin-top:10px;
}

.hero-content h1{
    font-size:34px;
}

.hero-content p{
    font-size:18px;
}

}
